html {
    scroll-behavior: smooth;
}

:root {
    --lilac: #C7B2E6;
    --mint: #6CE0BB;
    --lemon: #FEF8B4;
    --stone: #555;
    --dark: #404040;
    --light: #F7F7F7;
}

body {
    color: var(--dark);
    background-color: var(--mint);
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-size: xx-large;
}

a {
    color: var(--stone);
    text-decoration: none;
    position: relative;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 1.2rem;
}

a:hover {
    color: var(--lilac);
}


header {
    display: flex;
    height: 8em;
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--mint);
}

header nav {

    list-style-type: none;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header h3 img {
    width: 2em;
}

nav>li {
    
    margin-left: 1em;
}

#hi{
    font-weight: 300;
    letter-spacing: .04em;
    font-family: 'Pacifico', cursive;
    transform: rotate(-4deg);
    transform-origin: bottom left;
    margin-top: 3em;
}

.about {
    background-color: var(--mint);
    padding-top: calc(4rem + (6 - 4) * ((100vw - 20rem)/ (100 - 20)));
    padding-bottom: calc(4rem + (6 - 4) * ((100vw - 20rem)/ (100 - 20)));
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.transparent{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.2px;
}

.about h1 {
    margin-top: 0;
    max-width: 600px;
}

.projects{
    padding-top: calc(5rem + (6 - 4) * ((100vw - 20rem)/ (100 - 20)));
    padding-bottom: calc(5rem + (6 - 4) * ((100vw - 20rem)/ (100 - 20)));
    background-color: var(--lemon);
}

.projects-grid {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 2em;
}

.project {
    background-color: var(--light);
    border-radius: 20px;
    border: solid 2px var(--stone);
    text-align: center;
    transition: transform 0.3s linear;
}

.title {
    letter-spacing: .04em;
    padding-bottom: 1em;
}

.project:hover {
    transform: translateY(-7px);
}

.project__description {
    padding: 0.5em;
    margin: 0;
    height: 3em;
}

.tech {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
}

.tech li {
    list-style-type: none;
    padding: 0;
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
}

.links{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
}

#icon{
    font-size: 1.5em;
}

.skills {
    padding-top: calc(3rem + (6 - 4) * ((100vw - 20rem)/ (100 - 20)));
    padding-bottom: calc(3rem + (6 - 4) * ((100vw - 20rem)/ (100 - 20)));
    
    background-color: var(--lilac);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center
}

.skills ul {
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.skills ul li {
    border-radius: 10px;
    border: solid 2px var(--stone);
    padding: 10px;
    margin: 0.7em;
    background-color: var(--light);
    transition: transform 0.3s linear;
}

.skills ul li:hover {
    transform: translateY(-7px);
}

.contact {
    padding-top: calc(5rem + (6 - 4) * ((100vw - 20rem)/ (100 - 20)));
    padding-bottom: calc(5rem + (6 - 4) * ((100vw - 20rem)/ (100 - 20)));

    flex-direction: column;
    background-color: var(--mint);
    display: flex;
    justify-content: center;
    align-items: center
}

.email {
    background-color: var(--light);
    color: var(--stone);
    cursor: pointer;
    border: 2px solid;
    padding: 0.25em 0.5em;
    min-width: fit-content;
    margin: 1em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.email:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.footer {
    background-color: var(--mint);
    padding: 2em 0;
    text-align: center;
}

.last-buttons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

@media (max-width: 600px) {
    .header {
        height: 6em;
    }

    .section {
        margin-top: 4em;
    }

    .nav__list {
        flex-direction: column;
        padding: 4em 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 5em;
        background-color: var(--clr-bg);
        width: 0;
        overflow: hidden;
        transition: width 0.2s ease-in-out;
    }

    .display-nav-list {
        width: 100%;
    }

    .nav__list-item {
        margin: 0.5em 0;
    }

    .about {
        align-items: flex-start;
        margin-top: 2em;
    }

    .footer {
        padding: 2em;
        margin-top: 3em;
    }

    .scroll-container {
        display: none;
    }
}


@media (max-width:900px) {}